<div class="app-card-container">
  <div class="card">
    <h1>About me</h1>

    <hr>

    <div class="row">
      <div class="col-md-4">
        <%= image_tag "300x400.png", width: 300, alt: "Profile Image", class: 'profile-img' %>
      </div>

      <div class="col-md-8">
        <p>I have started to learn web development and specifically Rails in late 2016. The decision came out of intereste to programming and to web development particularly. I went through several introductory course to decide that Ruby on Rails would be most suitable for my goals. Since then I have been studying in my free time and developing my skills through variety of courses and web apps.</p>
        <p> My github profile: <%= link_to "github.com/nlukjanov", "https://github.com/nlukjanov" %></p>
      </div>

    </div>

  </div>
</div>
