<div class="app-card-container">
  <div class="card">
    <h1>My contact details</h1>

    <div class="row">
      <div class="col-md-6">
        <h3>Address</h3>
        <p>11 Grosvenor Place</p>
        <p>London</p>
        <p>SW1X 7HH</p>
        <h3>Phone:</h3>
        <p><%= number_to_phone "55555555555" %></p>
        <h3>Email</h3>
        <p><a href="mailto:nlukjanov@gmail.com?subject=PortfolioContact">Email me</a></p>
      </div>

      <div class="col-md-6">
        <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d2483.6795388684254!2d-0.15256368388658567!3d51.5007479796341!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x48760524f219e803%3A0x4cca31e210420b81!2s11+Grosvenor+Pl%2C+Belgravia%2C+London+SW1X+7HH!5e0!3m2!1sen!2suk!4v1506270371790" width="100%" height="100%" frameborder="0" style="border:0" allowfullscreen></iframe>
      </div>
    </div>
  </div>
</div>
