<div class="inner cover">

  <p class="lead">Hello and welcome to my portfolio website! My name is Nikita Lukjanov and I am a web developer from London, UK. I have been built this website while practicing in software development. It is fully built using Ruby on Rails. Please feel free to explore it. I also have a blog section here where I was putting down my thoughts and also recording my progress.</p>
  <p class="lead">
    <%= link_to "About me", about_me_path, class: "btn btn-lg btn-secondary" %>
  </p>
</div>
